<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @student.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @student.password %>
</p>

<%= image_tag(@student.icon) %>

<p>
  <strong>Degrees:</strong>
  <%= @student.degrees %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @student.introduction %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @student.resume %>
</p>

<p>
  <strong>Image:</strong>
  <%= @student.image %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
