<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :short_descr %>
    <%= form.text_area :short_descr %>
  </div>

  <div class="field">
    <%= form.label :long_descr %>
    <%= form.text_area :long_descr %>
  </div>

  <div class="field">
    <%= form.label :complexity %>
    <%= form.number_field :complexity %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.text_field :images %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
