<% provide(:page_title, @project.title) %>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="title"><%= @project.title %></h1>  
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p><%= @project.short_descr %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <strong>Complexity:</strong>
      <br>
      <% if @project.complexity.present? %>
        <% (1..@project.complexity).each do |i| %>
          <span class="fa fa-star checked"></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <strong>Date:</strong>
      <br>
      <% if @project.date.present? %>
        <p><%= @project.date.strftime('%m/%e/%y') %></p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p><%= @project.long_descr %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% if student_signed_in? %>
        <%= link_to 'Edit', edit_project_path(@project) %> |
      <% end %>

      <%= link_to 'Back', projects_path %>
    </div>
  </div>
</div>
